@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h4 {
  font-family: "Anton", sans-serif;
}
.home-hero {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.973),
      rgba(0, 0, 0, 0.2) /* lighter on the right */
    ),
    url("https://images.pexels.com/photos/13793194/pexels-photo-13793194.jpeg")
      no-repeat center center/cover;
}
.home-hero > div {
  backdrop-filter: blur(1px);
}
.card-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/33993454/pexels-photo-33993454.jpeg")
      no-repeat center center/cover;
}
.card-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/10823286/pexels-photo-10823286.jpeg")
      no-repeat center center/cover;
}
.card-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/14351882/pexels-photo-14351882.jpeg")
      no-repeat center center/cover;
}
.card-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/14325744/pexels-photo-14325744.jpeg")
      no-repeat center center/cover;
}
